$primary: #9d22ed; // default

$white: #ffffff;
$black: #000000;
$grey: #8f8f8f;

$default: #eff0f4;
$base: $white;
$font-color: #808080;
$font-color-light: #b3b3b3;
$border-light: #ebebeb;
$border: #d9d9d9;
$background: $white;
